# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*   # extra safety

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / cache
.pytest_cache/
.mypy_cache/

# Build / distribution
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/